env:
  TZ: Europe/Berlin
  PAPERLESS_CONSUMER_POLLING: "60"
  PAPERLESS_URL: https://paperless.homelab.cloudbending.dev
  # Required in order to import signed documents
  PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
  PAPERLESS_DBHOST:
    secretKeyRef:
      name: paperless-ngx-pg-app
      key: host
  PAPERLESS_DBNAME:
    secretKeyRef:
      name: paperless-ngx-pg-app
      key: dbname
  PAPERLESS_DBUSER:
    secretKeyRef:
      name: paperless-ngx-pg-app
      key: user
  PAPERLESS_DBPASS:
    secretKeyRef:
      name: paperless-ngx-pg-app
      key: password
  PAPERLESS_REDIS: redis://:$(A_REDIS_PASSWORD)@homelab-virtual-office-paperless-ngx-valkey
  A_REDIS_PASSWORD:
    secretKeyRef:
      name: homelab-virtual-office-paperless-ngx-valkey
      key: password

image:
  repository: ghcr.io/paperless-ngx/paperless-ngx
  tag: 2.20.3

persistence:
  data:
    enabled: true
    accessMode: ReadWriteOnce
    size: 50Gi
  media:
    enabled: true
    accessMode: ReadWriteOnce
    size: 50Gi
  export:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi
  consume:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi

postgresql:
  enabled: false

redis:
  enabled: false
